html {
	position: relative;
	min-height: 100%;
	font-family: sans-serif;
}

.navigation {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 70px;
	background-color: #1A1A1A;

	ul {
		margin: 0;
    padding: 0;
	}

	li {
    display: block;
    height: 60px;
    padding: .75em 0;
    color: white;
		list-style: none;
    text-align: center;
	}

	a {
		color: white;
    display: inline-block;
    line-height: 3.5;
    text-decoration: none;
    text-transform: capitalize;
	}

	svg {
		display: block;
		margin: 0 auto;
		height: 35px;
		width: 35px;
	}

	span {
    position: relative;
		top: -10px;
		font-size: 14px;
	}

	.link--active {
		color: orange;
	}
}

.content {
  position: absolute;
	left: 70px;
  top: 0;
  bottom: 0;
  right: 0;
}

.resources {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 45px;
	background-color: #222;
	color: white;

	ul {
		margin: 0;
    padding: 0 1em;
    height: 100%;
	}

	li {
		list-style: none;
    display: inline-block;
    height: 100%;
    width: 120px;
    line-height: 3.5;
	}

	svg {
		width: 20px;
	}

	span {
		position: relative;
    top: -4px;
    left: 7px;
	}
}

.cmenu {
	width: 300px;
	position: absolute;
	left: 80px;
}

.canvas {
	width: 100%;
	height: 100%;
}
