html {
	position: relative;
	min-height: 100%;
	font-family: sans-serif;
}

body {
	margin: 0;
}

.loading {
	position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__text {
    margin-top: 2em;
		color: #062F80;
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
  }
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 60px;
	background-color: #1D1D1D;
	z-index: 200;

	ul {
		margin: 0;
    padding: 0;
	}

	li {
    display: block;
    height: 60px;
    padding: 1em 0;
    color: white;
		list-style: none;
    text-align: center;
	}

	a {
		color: white;
    display: inline-block;
    line-height: 3.5;
    text-decoration: none;
    text-transform: capitalize;
	}

	svg {
		display: block;
		margin: 0 auto;
		height: 35px;
		width: 35px;
	}

	p {
		margin-top: 10px;
		font-size: 14px;
	}

	.link--active {
		color: orange;
	}
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
	left: 60px;
}

.resources {
	position: fixed;
	left: 60px;
	right: 0;

	svg {
	  position: relative;
	  top: 6px;
		width: 24px;
	}

	.divider {
		margin-left: 30px;
	}
}

.chat {
	top: 55px !important;
}

.btn-new-chat{
  position: absolute;
	right: 10%;
  transform: translateY(-50%);
  z-index: 3000;
}

.navigation {
	.user-button {
		height: 60px !important;
		width: 180px !important;
		line-height: 50px !important;
		padding-left: 10px !important;
	}

	.user-avatar {
		position: relative;
    top: 8px;
    right: 5px;
	}
}

.nav-link {
	text-decoration: none;
}

.sidebar-menu {
	display: none;
	position: fixed;
  top: 75px;
  left: 80px;
	height: 450px;
	width: 300px;
  padding: 1em;

  background: #333;
  color: white;
  z-index: 200;
	transition: .5s all;

  &.active {
  	display: block;
  	transition: .5s all;
  }
}

.cmenu {
	width: 300px;
	position: absolute;
	left: 80px;
}

.canvas {
	width: 100%;
	height: 100%;
}
